<h1>Results Tournament</h1>
<ul>
    <li *ngFor="let l of listResults">
        <div class="row">
                <div class="col-sm-12">
                    <div>
                        <label>Pseudo Player : </label>{{l.player_1}}
                    </div>
                    <div>
                        <label>Points : </label>{{l.points }}
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        <!-- <a [routerLink]="['/tournamentdetails', t.name]">{{t.name}}</a> -->
    </li>
</ul>   

