<!-- <h1>Tournaments</h1>
<ul>
    <li *ngFor="let t of tournaments">
         <! path for app.module.ts >  -->
        <!-- <a [routerLink]="['/tournamentdetails', t.name]">{{t.name}}</a>
    </li>
</ul>    -->

<div class="row">
    <div class="col-sm-12">
        <h1>Tournaments</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>I found the following tournaments :</h3>
    </div>
</div>


<div class="row">
    <div *ngIf="authService.isAdmin" class="col-sm-12">
        <mytable #tournaments [columnDefs]="columnDefs" [getDataService]="getDataService" [addService]="addService" [deleteService]="deleteService"
            [updateService]="updateService" filterPlaceHolder="Filter Tournaments" [editComponent]="editTournament"
            addCaption="Add New Tournament" (selectedItemChanged)="selectedItemChanged($event)" [pageSize]="10" [confirmDelete]="true">
        </mytable>
    </div>
    
    <div *ngIf="!authService.isAdmin" class="col-sm-12">
        <mytable #tournaments [columnDefs]="columnDefs" [getDataService]="getDataService"filterPlaceHolder="Filter Tournaments" 
             (selectedItemChanged)="selectedItemChanged($event)" [pageSize]="10" [readOnly]="true">
        </mytable>
    </div>
</div>

<div class="row" *ngIf="selectedTournament">
    <div *ngIf="authService.isAdmin" class="col-sm-12">
        <button class="btn dtn-default" type="button" [routerLink]="['/tournamentdetails', selectedTournament.name]">Manage Inscriptions for: {{selectedTournament.name}}</button>
    </div>
    <div *ngIf="!authService.isAdmin && subscribeActive" class="col-sm-12">    
        <button class="btn dtn-default" type="button" (click)="subscribe(selectedTournament)">Subscribe to: {{selectedTournament.name}}</button>
    </div>
    <div class="col-sm-12">
        <mytable #games [columnDefs]="gameColumnDefs" [getDataService]="getGameDataService" [updateService]="updateMemberService" 
            filterPlaceHolder="Filter Matches" [editComponent]="editGame"
            [pageSize]="10" [cancellable]="true" [confirmDelete]="false" ></mytable>
    </div>
</div>
<edit-tournament #editTournament></edit-tournament>
<edit-game #editGame></edit-game>

