<h1>Tournament Details</h1>
<div body>
    <!-- tournamentDetails from tournamentdetails.component.ts  -->
    <!-- <div *ngIf="tournamentDetails | async as t;  else unknown">  for Observable tournaments-->
    <div *ngIf="tournamentDetails as t; else unknown ">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <label>Name : </label>{{t.name}}
                </div>
                <div>
                    <label>Start Date : </label>{{t.start | date: 'dd/MM/y' }}
                </div>
                <div>
                    <label>Finish Date : </label>{{(t.finish | date: 'dd/MM/y') || "&lt;undefined&gt;"}}
                </div>
                <div>
                    <label>Max Players : </label>{{t.maxPlayers}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <h2>Members not assigned ({{memberUnassignedCount}})</h2>
                <div class="col-xs-10">
                    <mytable #membersUnassigned [columnDefs]="columnDefs" [getDataService]="getUnassignedDataService" 
                    readOnly="true" filterPlaceHolder="Filter Unassigned Members" [pageSize]="10"
                    (selectedItemChanged)="selectedItemChangedUnassigned($event)" ></mytable>
                </div>
                <div class="col-xs-2">
                    <br>
                    <br>
                    <br>
                    <br>
                    <p *ngIf="memberUnassignedCount > 0 && tournamentDetails.freePlaces >= memberUnassignedCount">
                        <button class="btn btn-default" type="button" (click)="sendAllUnassigned()" > >> </button>
                    </p>
                    <p *ngIf="sendUnassignedActive && tournamentDetails.freePlaces > 0">
                        <button class="btn btn-default" type="button" (click)="sendUnassigned()" > > </button>
                    </p>
                    <p *ngIf="sendAssignedActive">
                        <button class="btn btn-default" type="button" (click)="sendAssigned()" > < </button>
                    </p>
                    <p *ngIf="memberAssignedCount > 0">
                        <button class="btn btn-default" type="button" (click)="sendAllAssigned()" > << </button>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h2>Members assigned ({{memberAssignedCount}})</h2>
                <mytable #membersAssigned [columnDefs]="columnDefsAssigned" [getDataService]="getAssignedDataService" 
                readOnly="true" filterPlaceHolder="Filter Assigned Members" [pageSize]="10" 
                (selectedItemChanged)="selectedItemChangedAssigned($event)"></mytable>
            </div>

        </div>
    </div>
    <ng-template #unknown>Unknown tournament !</ng-template>
    <div class="row">
        <div class="col-sm-5">
            <p><button class="btn btn-default" type="button" (click)="Save()" > Save </button></p>
        </div>
        <div class="col-sm-5">
            <p><button class="btn btn-default" type="button" (click)="CloseInscriptions()" > Close Inscriptions </button></p>
        </div>
    </div>
</div>
    