<!-- <h1>Tournaments</h1>
<ul>
    <li *ngFor="let t of tournaments">
         <! path for app.module.ts >  -->
        <!-- <a [routerLink]="['/tournamentdetails', t.name]">{{t.name}}</a>
    </li>
</ul>    -->

<div class="row">
    <div class="col-sm-12">
        <h1>Tournaments</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>I found the following tournaments :</h3>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <mytable #tournaments [columnDefs]="columnDefs" [getDataService]="getDataService" [addService]="addService" [deleteService]="deleteService"
            [updateService]="updateService" filterPlaceHolder="Filter Tournaments" [editComponent]="editTournament"
            addCaption="Add New Tournament" (selectedItemChanged)="selectedItemChanged($event)" [pageSize]="5" [confirmDelete]="true"></mytable>
    </div>
</div>

<div class="row" *ngIf="selectedTournament">
    <div class="col-sm-12">
        <button type="button" [routerLink]="['/tournamentdetails', selectedTournament.name]" >Manage Inscriptions for : {{selectedTournament.name}}</button>
    </div>
</div>

<div class="row" *ngIf="selectedTournament">
    <div class="col-sm-12">
        <mytable #members [columnDefs]="memberColumnDefs" [getDataService]="getMemberDataService" [addService]="addMemberService" [deleteService]="deleteMemberService"
            [updateService]="updateMemberService" filterPlaceHolder="Filter Members" addCaption="Add New Address"
            [pageSize]="3" [cancellable]="true" [confirmDelete]="false" [readOnly]="true"></mytable>
    </div>
</div>
<edit-tournament #editTournament></edit-tournament>

