<div class="row">
    <div class="col-sm-12">
        <h1>Account</h1>
    </div>
</div>
<div *ngIf="currentMember">
    <div class="row">
        <div class="col-sm-12">
                <p>Pseudo : {{currentMember.pseudo}}</p>
                <p>Profile : {{currentMember.profile}}</p>
                <p>Birth date : {{currentMember.birthdate}}</p>
            <!-- <mytable #members [columnDefs]="columnDefs" [getDataService]="getDataService" [addService]="addService" [deleteService]="deleteService"
                [updateService]="updateService" filterPlaceHolder="Filter Members" [editComponent]="editMember" addCaption="Add New Member"
                [pageSize]="5" (selectedItemChanged)="selectedItemChanged($event)" [cancellable]="false" [confirmDelete]="true">
            </mytable> -->
            <button class="btn btn-default " (click)="openEditModal(editMember)">Edit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mytable #addresses [columnDefs]="addressColumnDefs" [getDataService]="getAddressDataService" [addService]="addAddressService" [deleteService]="deleteAddressService"
                [updateService]="updateAddressService" filterPlaceHolder="Filter Addresses" [editComponent]="editAddress" addCaption="Add New Address"
                [pageSize]="3" [cancellable]="true" [confirmDelete]="false"></mytable>
        </div>
    </div>
</div>
<edit-member #editMember></edit-member>
<edit-address #editAddress></edit-address> 
